<div ng-controller="logRateController" ng-init="initializeVars(false);">
  <div class="container-fluid" id="main" ng-controller="dropController" ng-init="actionFunction=generate">
    <div class="row" id="moreInfo">
        <div class="tabbable" id="main-tab">
          <h2>Apt-log Request rate</h2>
          <p class="lead">The graph shows the number of logs in the selected time period, grouped by input and output</p>
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href data-toggle="tab" class="tab-link" id="year_tab" ng-click="setTab(1);generate(requiredYear,'');">
                  Year-wise
                </a>
              </li>
              <li>
                <a href data-toggle="tab" class="tab-link" id="month_tab" ng-click="initializeVars(true);setTab(2);">
                  Month-wise
                </a>
              </li>
            </ul>
            <div class="tab-pane active" ng-show="tab===1">
                <drop-year></drop-year>
            </div>
            <div class="tab-pane active"  ng-show="tab===2">
              <drop-year></drop-year>
              <drop-month></drop-month>
            </div>
        </div> <!-- end tabbable -->
        <radio-filter></radio-filter>
        <div class="col-lg-12">
          <!-- <p id="para"> -->
            <h4>{{"logRateData"|addPara:requiredYear:requiredMonth}}</h4>
          <!-- </p> -->
        </div>  <!-- end col-lg-12 for paragraph -->

      </div> <!-- end tabbable -->
    </div> <!-- end row -->
    <hr>
  </div><!-- end container -->
</div> <!-- end logRateController -->
