<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Tattva</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="javascripts/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.0.7/ui-grid.min.css" type="text/css">

<!-- Custom CSS -->
<link rel="stylesheet" href="styles/style.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/aptCache/graphs.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/aptCache/style.css">

<!-- javacsripts -->
<script type="text/javascript" src="/javascripts/lib/angular/angular.js"></script>
<script type="text/javascript" src="/javascripts/lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/javascripts/lib/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.0.7/ui-grid.min.js"></script>
<script src="javascripts/lib/d3/d3.min.js"></script>
