<div ng-controller="repositoryController" ng-init="initializeVars();">
  <div class="container-fluid" id="main" ng-controller="dropController" ng-init="actionFunction=writeTable">
    <div class="tabbable" id="main-tab">
    	<div class="row" id="moreInfo">
  			  <h2>Apt-log Package With Repository and Pool</h2>
  				<p class="lead">In the yearwise table we are showing the repositories and the pools from which the packages were downloaded with their versions.</p>
  				<div class="tabbable" >
  					<ul class="nav nav-tabs">
              <li class="active">
                <a href data-toggle="tab" class="tab-link" id="year_tab" ng-click="writeTable(requiredYear,'Input')">
                  Year-wise
                </a>
              </li>
  					</ul>
              <dropdown-mode></dropdown-mode>
  				</div> <!-- end tabbable -->
		    </div> <!-- end row -->
  		<hr>
      <div id="content">
        <table class="table table-striped" id="contenttable">
          <tr>
            <th>Repository Name</th>
            <th>Pool Name</th>
            <th>Package Name</th>
            <th>Package Version</th>
          </tr>
          <tr ng-repeat="data in tableData ">
            <td ng-if="data.rowspan" rowspan={{data.rowspan}}>{{data['repository']}}</td>
            <td ng-if="data.rowspan1" rowspan={{data.rowspan1}}>{{data['pool']}}</td>
            <td>{{data['packageName']}}</td>
            <td>{{data['packageVersion']}}</td>
          </tr>
        </table>
      </div> <!-- end content -->
    </div> <!-- end tabbable -->
	</div> <!-- end container -->
</div> <!-- end repositoryController -->
