<div class="container-fluid ">
  <div class="tabbable" id="main-tab">
    <div class="homepage watchlist-tabs ng-cloak">
      <ul class="nav nav-tabs" >
        <li ng-repeat="tabs in nginxLogTabs" ng-class="{active:(activeTab==='{{tabs | showLinks}}')}">
          <a ng-click="setActiveClass(tabs)" ui-sref=".{{tabs | showLinks}}" >{{tabs}}</a>
        </li>
      </ul>
    </div>

    <div class="tab-pane" ui-view>
    </div> <!-- end tab-pane -->
  </div> <!-- end main-tab -->
</div> <!-- end container-fluid -->
