<div ng-controller="packageCountController" ng-init="initializeVars(false);">
  <div class="container-fluid" id="main" ng-controller="dropController" ng-init="actionFunction=writeTable">
    <div class="tabbable" id="main-tab">
      <div class="row" id="moreInfo">
          <h2>Apt-log Package Count</h2>
          <p class="lead">In the year-wise table we are showing the information of the downloaded packages along with their details such as package name, version, architecture and count for the given year, and in month-wise graph all the same information will come monthly.</p>
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href data-toggle="tab" class="tab-link" id="year_tab" ng-click="setTab(1);writeTable(requiredYear,'')">
                  Year-wise
                </a>
              </li>
              <li>
                <a href data-toggle="tab" class="tab-link" id="month_tab" ng-click="initializeVars(true);setTab(2)">
                  Month-wise
                </a>
              </li>
            </ul>
            <div class="tab-pane active" ng-show="tab===1">
                <drop-year ></drop-year>
              </div>
            <div class="tab-pane active" ng-show="tab===2">
              <drop-year></drop-year>
              <drop-month></drop-month>
            </div>
          </div> <!-- end tabbable -->

          <div class="col-lg-12">
            <!-- <p id="para"> -->
              <h4>{{"packageCount"|addPara:requiredYear:requiredMonth}}</h4>
            <!-- </p> -->
          </div> <!-- end col-lg-12 for paragraph -->
      </div> <!-- end row -->

      <hr>
      <div ui-grid="{ data: tableData }" class="myGrid">
      </div> <!-- end content -->
    </div> <!-- end tabbable -->
  </div> <!-- end container -->
</div> <!-- end  packageCountController -->
