<<<<<<< HEAD

/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchInput {
   	width: 200px;
   }

   .navbar-brand {
   	padding: 13px 15px;
   }

   .navbar-nav li a {
     padding-top: 25px;
     padding-bottom: 25px;
     margin-left: 5px;
     margin-right: 5px;
   }

   .navbar-nav li a:hover {
     background: rgba(29, 83, 119, 1);
     color: white;
     transition-duration: 0.5s;
   }

   .navbar-nav .active a, .navbar-nav .active a:hover {
     background: rgba(29, 83, 119, 1);
     color: white;
   }

   .navbar-form {
     margin-top: 15px;
   }

   .dropdown-menu li a {
     padding: 5px;
     margin-left: 10px;
   }
 a:hover, li:hover{
   background-color: #eee;
 }
    .dropdown .dropdown-menu {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.5s;

      max-height: 0;
      display: block;
      overflow: hidden;
      opacity: 0;

      background-color: white;
      left: 5px !important ;
    }

    .dropdown.open .dropdown-menu {
      max-height: 300px;
      opacity: 1;
    }

    #logoImage {
      //padding: 0px;
    }

/* --------------------------------------
   Layout
   -------------------------------------- */

    .dropdown {
      display: inline;
      width: 20%;
    }
    body {
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizelegibility;
    }
    .tab-link {
      font-size: 20px;
    }

    #featuresHeading {
      margin-top: 70px;
    }
=======
.dropdown {
  display: inline;
  width: 20%;
}
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
.tab-link {
  font-size: 20px;
}
h2 {
  text-align: center;
  font-family: 'Alegreya', serif;
  margin-bottom: 50px;
}
.dropdown-menu{
  margin-top: 20px;
  margin-left: 0;
  padding-left: 0;
}
.dropdown-menu li a:hover{
  background-color: #eee;
}
>>>>>>> 7ef5a16734bb2b29ec73aaf1481a5fcc22539d1b
