
/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchInput {
   	width: 200px;
   }

   .navbar-brand {
   	padding: 13px 15px;
   }

   .navbar-nav li a:hover {
     background: rgba(29, 83, 119, 1);
     color: white;
     transition-duration: 0.5s;
   }

   .navbar-nav .active a, .navbar-nav .active a:hover {
     background: rgba(29, 83, 119, 1);
     color: white;
   }

   .navbar-form {
     margin-top: 15px;
   }

   .dropdown-menu li a {
     padding: 5px;
     margin-left: 10px;
   }
 a:hover, li:hover{
   background-color: #eee;
 }
    .dropdown .dropdown-menu {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.5s;

      max-height: 0;
      display: block;
      overflow: hidden;
      opacity: 0;
	background-color: white;
	left: 5px !important ;
}
   .navbar-default {

      background: #f5f5f5;
   }

   .navbar-brand {
     padding: 3px 3px 3px 0px;
   }

   .dropdown.open .dropdown-menu {
     max-height: 400px;
      opacity: 1;
    }

   .divider-vertical li{
    height: 50px;
    //margin: 0 9px;
    border-right: 5px solid #ffffff;
    //border-left: 1px solid #f2f2f2;
}

/* --------------------------------------
   Layout
   -------------------------------------- */

    .dropdown {
      display: inline;
      width: 20%;
    }

    body {
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizelegibility;
    }

    .tab-link {
      font-size: 20px;
    }

    #featuresHeading {
      margin-top: 70px;
    }

    .dropdown {
      display: inline;
      width: 20%;
    }

    .tab-link {
      font-size: 20px;
    }

    h2 {
      text-align: center;
      font-family: 'Alegreya', serif;
      margin-bottom: 50px;
    }

    .dropdown-menu{
      margin-top: 20px;
      margin-left: 0;
      padding-left: 0;
    }

    .dropdown-menu li a:hover{
      background-color: #eee;
        }
    #radio {
      width: 400px;
      display: none;
    }

    #radio label, #radio input{
      font-size: 12px;
      padding-left: 5px;
      margin-left: 10px;
    }

    #myTab{
      padding: 0px;
    }

    #row_well {
      background: rgba(29, 83, 119, 1);
    }

    #bigCallout {
      margin-top: 70px;
    }

    #main{
      margin-top: 70px;
      background-color: #f5f5f5;
      margin-bottom: 20px;
      border-radius: 5px;
    }

  /* --------------------------------------
   footer
   -------------------------------------- */

    footer {
      background: #D4D6D7;
      color: #464B4E;
      font-size: 1em;
      padding: 20px;
      text-align: justify;
      //font-size:
    }
    .d3-tip {
    line-height: 1;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }
#moreInfo p{
  padding: 10px;
}
