<div  id="radio" class="alert col-lg-8">
  <div class="form-inline">
    <label class="control-label">Filter</label>
    <label class="radio">
      <input value="all" name="filter"  type="radio" checked>All
    </label>
    <label class="radio">
      <input value="metadata" name="filter" type="radio">Metadata
    </label>
    <label class="radio">
      <input value="package" name="filter" type="radio">Packages
    </label>
  </div>
</div>
