<div class="row" id="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header col-xs-2">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img alt="Log Aggregator" src="../images/log_aggregator_logo.png">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse divider-vertical" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav col-xs-10">
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation" ><a href="/requestrate">Request Rate</a></li>
          <li role="presentation" ><a href="/requestdata">Data Rate</a></li>
          <li role="presentation" ><a href="/packagecount">Package Count</a></li>
          <li role="presentation" ><a href="/packageanalytics">Packages.bz2 Updates</a></li>
          <li role="presentation" ><a href="/packagerepository">Packages Repository</a></li>
        </ul>
      </div>

    </div> <!-- end container -->
  </nav>
</div> <!-- end row -->
