<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab" class="tab-link" id="year_tab">Year-wise</a></li>
    <li><a href="#tab2" data-toggle="tab" class="tab-link" id="month_tab">Month-wise</a></li>
  </ul>
  <div id="myTab" class="tab-content col-lg-4">
    <div class="tab-pane active" id="tab1">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Year<span class="caret"></span></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#" id="y2015">2015</a></li>
        </ul>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Year<span class="caret"></span></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a href="#" id="y15">2015</a></li>
          </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Month<span class="caret"></span></button>
          <ul id="monthList1" class="dropdown-menu" aria-labelledby="dropdownMenu3">
            <li><a href="/reqrate/data" id="Jan">January</a></li>
            <li><a href="#" id="Feb">February</a></li>
            <li><a href="#" id="Mar">March</a></li>
            <li><a href="#" id="Apr">April</a></li>
            <li><a href="#" id="May">May</a></li>
            <li><a href="#" id="Jun">June</a></li>
            <li><a href="#" id="Jul">July</a></li>
            <li><a href="#" id="Aug">August</a></li>
            <li><a href="#" id="Sep">September</a></li>
            <li><a href="#" id="Oct">October</a></li>
            <li><a href="#" id="Nov">November</a></li>
            <li><a href="#" id="Dec">December</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
