<div ng-controller="packageAnalyticsController" ng-init="initializeVars(false);">
  <div class="container-fluid" id="main" ng-controller="dropController" ng-init="actionFunction=writeTable">
    <div class="tabbable" id="main-tab">
      <div class="row" id="moreInfo">
        <div class="col-lg-12">

          <div class="homepage">
            <ul class="nav nav-tabs" >
              <!-- <li ng-class="{active: (tab == 'logListing')}"><a ng-href="#logListing" ng-click="tab='logListing'">Log Listing</a></li>
              <li ng-class="{active: (tab == 'agentAnalytics')}"><a ng-href="#agentAnalytics" ng-click="tab='agentAnalytics'">User Agent</a></li>
              <li ng-class="{active: (tab == 'requestRate')}"><a ng-href="#requestRate" ng-click="tab='requestRate'">Request Rate</a></li> -->
              <li role="presentation" ><a href="#requestrate">Request Rate</a></li>
              <li role="presentation" ><a href="#requestdata">Data Rate</a></li>
              <li role="presentation" ><a href="#packagecount">Package Count</a></li>
              <li role="presentation" ><a href="#packageanalytics">Package Analytics</a></li>
              <li role="presentation" ><a href="#packagerepository">Package Repository</a></li>
            </ul>
          </div> <!-- end homepage -->


          <h2>Apt-log Package Analytics</h2>
          <p class="lead">In the year-wise table we are showing the information of the downloaded Packages.bz2 for its particular operating system and count for the given year, and in month-wise graph all the same information will come monthly.</p>
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href data-toggle="tab" class="tab-link" id="year_tab" ng-click="requiredMonth='';setTab(1);writeTable(requiredYear,'')">
                  Year-wise
                </a>
              </li>
              <li>
                <a href data-toggle="tab" class="tab-link" id="month_tab" ng-click="initializeVars(true);setTab(2)">
                  Month-wise
                </a>
              </li>
            </ul>
            <div id="myTab" class="tab-content col-lg-4">
              <div class="tab-pane active" ng-show="tab===1">
                <drop-year></drop-year>
              </div>
              <div class="tab-pane active" ng-show="tab===2">
                <drop-year-month></drop-year-month>
                <drop-month></drop-month>
              </div>
            </div> <!-- end col-lg-4 -->
          </div> <!-- end tabbable -->

          <div class="col-lg-12">
            <p id="para">
              <h4>{{"packageAnalytics"|addPara:requiredYear:requiredMonth}}</h4>
            </p>
          </div> <!-- end col-lg-12 for paragraph -->

        </div> <!-- end col-lg-12 -->
      </div> <!-- end row -->

      <hr>
      <div ui-grid="{ data: tableData }" class="myGrid">
      </div> <!-- end content -->

    </div> <!-- end tabbable -->
  </div> <!-- end container -->
</div> <!-- end  packageAnalyticsController -->
