<div class="container-fluid" id="main">
  <div class="row" id="moreInfo">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Apt-Get <small>Ubuntu's Advanced Packaging Tool (APT)</small></h1>
      </div>
      <p class="lead">The apt-get command is a powerful command-line tool, which works with Ubuntu's Advanced Packaging Tool (APT) performing such functions as installation of new software packages, upgrade of existing software packages, updating of the package list index, and even upgrading the entire Ubuntu system.</p>
      <!-- <p class="lead">Being a simple command-line tool, apt-get has numerous advantages over other package management tools available in Ubuntu for server administrators. Some of these advantages include ease of use over simple terminal connections (SSH), and the ability to be used in system administration scripts, which can in turn be automated by the cron scheduling utility.</p> -->
      <div class="page-header">
        <h1>Nginx </h1>
      </div>
      <p class="lead">NGINX is a free, open-source, high-performance HTTP server and reverse proxy, as well as an IMAP/POP3 proxy server. NGINX is known for its high performance, stability, rich feature set, simple configuration, and low resource consumption.</p>
      <!-- <p class="lead">Being a simple command-line tool, apt-get has numerous advantages over other package management tools available in Ubuntu for server administrators. Some of these advantages include ease of use over simple terminal connections (SSH), and the ability to be used in system administration scripts, which can in turn be automated by the cron scheduling utility.</p> -->
    </div>
  </div>
</div>
