<div class="tab-pane active" id="tab1">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      {{requiredYear}}<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-repeat="year in info['years']">
        <a href ng-click="writeTable(year,'Input')">{{year}}</a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{mode}}<span class="caret"></span>
    </button>
    <ul id="inout"class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li ng-repeat="i in info['modes']">
        <a href ng-click="writeTable(requiredYear,i)">{{i}}</a>
      </li>
    </ul>
  </div> <!-- end dropdown -->
</div>
